body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

header {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

header img {
  width: 200px;
  height: 200px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

main button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px ridge rgba(255, 255, 255, 0.458) ;
  background-color: rgba(255, 255, 255, 0.484);
  font-weight: 800;
  color: rgb(0, 0, 0);
  font-size: 13px;
}

main button:hover {
  width: 76px;
  height: 76px;
  color: rgba(0, 0, 0, 0.551);
  background-color: rgba(255, 255, 255, 0.14);
  font-weight: 800;
  font-size: 13px;
}

main button:active {
  width: 76px;
  height: 76px;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
}

@keyframes imgdance {
  0% {
    width: 160px;
    height: 160px;
  }
  95% {
    width: 150px;
    height: 150px;
  }
  to {
    width: 150px;
    height: 150px;
  }
}

.img {
  width: 150px;
  height: 150px;
  animation: imgdance 0.1s ease-in-out infinite alternate;
}


.imgs {
  height: 220px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}